.scroll{
    position: relative;
    $tip-height:20px;
    $font-explain:#999;
    @mixin scroll-bar($pos:absolute){
        position: $pos;
        width: 100%;
        text-align: center;
        //line-height: $tip-height;
        font-size: 1.6rem;
    }
    &-head{
        @include scroll-bar();
        top:-$tip-height;        
    }
    &-footer{
        @include scroll-bar();
        bottom:-$tip-height;        
    }

    &-static{
        @include scroll-bar(static);
        padding-bottom: 10px;
        color:$font-explain;
    }
    
    &-wrap{
        height: 100%;
        overflow: hidden;//
    }
}